.default__button {
  width: 236px;
  height: 42px;
  cursor: pointer;

  border: none;
  border-radius: 5px;

  font-family: Rubik;
  font-size: 14px;
  font-weight: 700;
  text-align: center;

  background-color: #7978d9;
  color: #fff;
}
